body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boton {
  padding-top: 1rem;
}

.grafico {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}
